.no-webp .inicio{
    background-image: url(../img/header.jpg);
    
}
.webp .inicio{
    background-image: url(../img/header.webp);
    // z-index: 1;
   
}



.header{
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;

    &.inicio{
        background-position: center center;
        background-size: cover;

        @include tablet{
            min-height: 70rem;
        }
        .contenido-header{
            @include tablet{
                min-height: 70rem;
            }
        }
    }
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1{
        text-align: left;
        color: $blanco;
        font-weight: bold;
        line-height: 2;
        max-width: 50rem;
    }

}
.formulario{
    // z-index: 2;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    top: 30%;
    right: 5%;
    color: $blanco;
    .legenda{
        color: $blanco;
    }
    .boton{
        position: relative;
        margin: auto;
        align-content: center;
        justify-content: center;
        left: 15%;
    }

}
